#!/bin/sh

# Summary: Install / activate the poetry-managed virtualenv
# Created: Thu Sep 30 12:50:00 EDT 2021
# Author:  Bryant Finney (https://bryant-finney.github.com/about)

# source the environment variables (if present)
# shellcheck disable=SC2046
test -f .env &&
    grep -qE '^[^# ][^#]*$' .env &&
    export $(grep -E '^[^# ][^#]*$' .env | xargs)

# install dependencies to a virtual environment
test -d "$(poetry env info -p)" || poetry install

# shellcheck disable=SC1091
test -n "$(poetry env info -p)/bin/activate" && . "$(poetry env info -p)/bin/activate"

poetry env info

# NOTE: for more information see https://github.com/direnv/direnv/wiki/PS1
unset PS1

